{% extends "base.html" %}
{% block start %}

<div class="container mt-5 d-flex flex-column align-items-center"> 

    <div class="card shadow-lg p-3 border border-2 border-primary mb-5" style="width:520px; max-width:94%;">
        <div class="card-body">
            <h2 class="card-title mb-3 text-center">Add Receipe</h2>
            <hr>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Receipe name</label>
                    <input name="receipe_name" required type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Receipe description</label>
                    <textarea name="receipe_description" required class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Receipe image</label>
                    <input name="receipe_image" type="file" class="form-control">
                </div>
                <button type="submit" class="btn btn-success w-100">Submit</button>
            </form>
        </div>
    </div>

    <table class="table table-bordered shadow-sm">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Receipe name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
             {% for receipe in receipes %}
            
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{receipe.receipe_name}}</td>
                <td>{{receipe.receipe_description}}</td>
                <td><img src="/media/{{receipe.receipe_image}}" style ="height:200px"></td>
                <td><a href="/delete_receipe/{{receipe.id}}/" class ="btn btn-danger m-2">Delete</a>
                <a href="/update_receipe/{{receipe.id}}" class ="btn btn-success"> Update</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}